In [12]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(magician)

alice
david
carolina

In [13]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(f"{magician.title()},that was a great trick")

Alice,that was a great trick
David,that was a great trick
Carolina,that was a great trick

In [17]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(f"{magician.title()},that was a great trick")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice,that was a great trick
I can't wait to see your next trick, Alice.

David,that was a great trick
I can't wait to see your next trick, David.

Carolina,that was a great trick
I can't wait to see your next trick, Carolina.

In [18]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(f"{magician.title()},that was a great trick")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you, everyone. That was a great magic show!")

Alice,that was a great trick
I can't wait to see your next trick, Alice.

David,that was a great trick
I can't wait to see your next trick, David.

Carolina,that was a great trick
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

Fogetting to Indent

In [19]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
print(magician)

IndentationError: expected an indented block after 'for' statement on line 2 (1349417615.py, line 3)

Fogetting to Indent Additional lines---logical error

In [22]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(f"{magician.title()},that was a great trick")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice,that was a great trick
David,that was a great trick
Carolina,that was a great trick
I can't wait to see your next trick, Carolina.

Indenting Unnecessarily After the loop

In [23]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(f"{magician.title()},that was a great trick")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
    print("Thank you, everyone. That was a great magic show!")

Alice,that was a great trick
I can't wait to see your next trick, Alice.

Thank you, everyone. That was a great magic show!
David,that was a great trick
I can't wait to see your next trick, David.

Thank you, everyone. That was a great magic show!
Carolina,that was a great trick
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

Range Function

In [24]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [25]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

Print even number between 2 and 20

In [26]:
numbers = list(range(2,21,2))
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
    

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
squares = []
for value in range(1,11):
    squares.append(value ** 2) 
    #squares.append(square)
    

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
sum = []
for value in range(1,11):
    #sum = sum + value
    sum.append(value)
    
print(sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
numbers = list(range(1,10))
print(numbers)
max(numbers)
#sum(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: 'list' object is not callable

numbers

In [38]:
sum(numbers)

TypeError: 'list' object is not callable

In [41]:
cube = [value ** 3 for value in range(1,11)]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [42]:
squares = [value ** 3 for value in range(1,11)]
print(squares)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Working with a Part of a List

In [43]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[0:3])

['charles', 'martina', 'michael']

In [ ]:
First 3 ----Omit First Index

In [44]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[:3])

['charles', 'martina', 'michael']

In [ ]:
Laast 3 ---Print Last 3 index

In [45]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[-3:])

['michael', 'florence', 'eli']

In [47]:
players = ['charles', 'martina', 'michael', 'florence', 'eli','Ajay'] 
print(players[-3:])

['florence', 'eli', 'Ajay']

In [49]:
players = ['charles', 'martina', 'michael', 'florence', 'eli','Ajay'] 
print(players[0:])

['charles', 'martina', 'michael', 'florence', 'eli', 'Ajay']

In [50]:
players = ['charles', 'martina', 'michael', 'florence', 'eli','Ajay'] 
for players in players[0:3]:
    print(players)

charles
martina
michael

In [51]:
players = ['charles', 'martina', 'michael', 'florence', 'eli','Ajay'] 
for players in players[:3]:
    print(players)

charles
martina
michael

In [52]:
players = ['charles', 'martina', 'michael', 'florence', 'eli','Ajay'] 
for players in players[-3:]:
    print(players)

florence
eli
Ajay

In [53]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [55]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [56]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:",my_foods)
#print(my_foods)

print("\nMy friend's favorite foods are:",friend_foods)
#print(friend_foods)

My favorite foods are: ['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are: ['pizza', 'falafel', 'carrot cake', 'ice cream']

In [60]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

Tuple

In [63]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)
    
dimensions[0] = 300
print(dimensions)
#dimensions[1]

200
50

TypeError: 'tuple' object does not support item assignment

# TRY IT YOURSELF 4.1 Pizzas

4-1.Pizzas: Think of at least three kinds of your favorite pizza . Store these 
pizza names in a list, and then use a for loop to print the name of each pizza .
 •Modify your for loop to print a sentence using the name of the pizza 
instead of printing just the name of the pizza . For each pizza you should 
have one line of output containing a simple statement like I like pepperoni 
pizza. Add a line at the end of your program, outside the for loop, that states 
how much you like pizza . The output should consist of three or more lines 
about the kinds of pizza you like and then an additional sentence, such as 
I really love pizza!

In [40]:
pizza = ['cheese','veggiesdeluxe','garliccheese']
for pizzas in pizza:
    print(f"I like {pizzas} pizza")

print(pizza[0])
print(pizza[1])
print(pizza[2])
print("I really love pizza!")

I like cheese pizza
I like veggiesdeluxe pizza
I like garliccheese pizza
cheese
veggiesdeluxe
garliccheese
I really love pizza!

 4-2. Animals: Think of at least three different animals that have a common char
acteristic . Store the names of these animals in a list, and then use a for loop to 
print out the name of each animal .
 •Modify your program to print a statement about each animal, such as 
A dog would make a great pet.
 •Add a line at the end of your program stating what these animals have in 
common . You could print a sentence such as Any of these animals would 
make a great pet!

In [41]:
animals = ['dog','tiger','lion','deer']
for animal in animals:
    print(animal)

dog
tiger
lion
deer

In [43]:
animals = ['dog','tiger','lion','deer']
for animal in animals:
    print(f"A {animal} would make a great pet")

A dog would make a great pet
A tiger would make a great pet
A lion would make a great pet
A deer would make a great pet

In [46]:
animals = ['dog','tiger','lion','deer']
for animal in animals:
    print(f"A {animal} would make a great pet")

print("\nThese all animals are meat eaters")
print("Any of these animals would make a great pet!")

A dog would make a great pet
A tiger would make a great pet
A lion would make a great pet
A deer would make a great pet

These all animals are meat eaters
Any of these animals would make a great pet!

 4-3.Counting to Twenty: Use a for loop to print the numbers from 1 to 20,inclusive

In [74]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

4-4. One Million: Make a list of the numbers from one to one million, and then 
use a for loop to print the numbers . (If the output is taking too long, stop it by 
pressing ctrl-C or by closing the output window .)

In [1]:
numbers = list(range(1,100))
for value in numbers:
    print(value)
    
print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

4-5. Summing a Million: Make a list of the numbers from one to one million, 
and then use min() and max() to make sure your list actually starts at one and 
ends at one million . Also, use the sum() function to see how quickly Python can 
add a million numbers

In [6]:
numbers = list(range(1,101))
for value in numbers:
    print(value)

    
print(numbers)
print(max(numbers))
print(min(numbers))
print(sum(numbers))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
100
1
5050

 4-6. Odd Numbers: Use the third argument of the range() function to make a list 
of the odd numbers from 1 to 20 . Use a for loop to print each number

In [10]:
numbers = list(range(1,20,2))
for number in numbers:
    print(number)

1
3
5
7
9
11
13
15
17
19

4-7. Threes: Make a list of the multiples of 3 from 3 to 30 . Use a for loop to 
print the numbers in your list

In [12]:
multiplesof_3 = list(range(3,31,3))
for number in multiplesof_3:
    print(number)

3
6
9
12
15
18
21
24
27
30

 4-8. Cubes: A number raised to the third power is called a cube . For example, 
the cube of 2 is written as 2**3 in Python . Make a list of the first 10 cubes (that 
is, the cube of each integer from 1 through 10), and use a for loop to print out 
the value of each cube

In [47]:
cubes = []
for value in range(1,10):
    cubes.append(value**3)

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

 4-9.Cube Comprehension: Use a list comprehension to generate a list of the 
first 10 cubes

In [23]:
cubes = [value**3 for value in range(1,10)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

 4-10. Slices: Using one of the programs you wrote in this chapter, add several 
lines to the end of the program that do the following:
 •Print the message, The first three items in the list are: . Then use a slice to 
print the first three items from that program’s list .
 •Print the message, Three items from the middle of the list are: . Use a slice 
to print three items from the middle of the list .
 •Print the message, The last three items in the list are: . Use a slice to print 
the last three items in the list

In [27]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("The first three items in the list are:",players[:3])
print("The three items from middle of the list are:",players[2:])
print("The last three items in the list are:",players[-3:])

The first three items in the list are: ['charles', 'martina', 'michael']
The three items from middle of the list are: ['michael', 'florence', 'eli']
The last three items in the list are: ['michael', 'florence', 'eli']

 4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1 
(page 60) . Make a copy of the list of pizzas, and call it friend_pizzas . 
Then, do the following:
 •Add a new pizza to the original list .
 •Add a different pizza to the list friend_pizzas .
 •Prove that you have two separate lists . Print the message, My favorite 
pizzas are:, and then use a for loop to print the first list . Print the message, 
My friend’s favorite pizzas are:, and then use a for loop to print the sec
ond list . Make sure each new pizza is stored in the appropriate list.

In [49]:
print(pizza)
friends_pizza = pizza[:]
pizza.append('peproni')
friends_pizza.append('chicken')
print("My list of pizza from original list are:")
print(pizza)
print("My list of pizza from copied list are:")
print(friends_pizza)
for pizza in pizza:
    print("My favorite pizzas are:")
    print(pizza)
    
for pizza in friends_pizza:
    print("My friend’s favorite pizzas are:")
    print(pizza)

['cheese', 'veggiesdeluxe', 'garliccheese']
My list of pizza from original list are:
['cheese', 'veggiesdeluxe', 'garliccheese', 'peproni']
My list of pizza from copied list are:
['cheese', 'veggiesdeluxe', 'garliccheese', 'chicken']

 4-13. Buffet: A buffet-style restaurant offers only five basic foods . Think of five 
simple foods, and store them in a tuple .
 •	Use a for loop to print each food the restaurant offers .
 •	Try to modify one of the items, and make sure that Python rejects the 
change .
 •	The restaurant changes its menu, replacing two of the items with different 
foods . Add a block of code that rewrites the tuple, and then use a for 
loop to print each of the items on the revised menu

In [65]:
foods = ('Paneer','Pizza','Chesse','Brocolli','Chicken')
for food in foods:
    print(food)

Paneer
Pizza
Chesse
Brocolli
Chicken

In [69]:
foods = ('Paneer','Pizza','Chesse','Brocolli','Chicken')
for food in foods:
    print(food)

foods[-1] = 'Cauliflower'
print(foods)

Paneer
Pizza
Chesse
Brocolli
Chicken

TypeError: 'tuple' object does not support item assignment

In [70]:
foods = ('Paneer','Pizza','Chesse','Brocolli','Chicken')
print("Original Food Menus is:")
for food in foods:
    print(food)
    
foods = ('Paneer','Pizza','Chesse','Rice','Cabbage')
print("\n Modified Food Menus is:")
for food in foods:
    print(food)

Original Food Menus is:
Paneer
Pizza
Chesse
Brocolli
Chicken

 Modified Food Menus is:
Paneer
Pizza
Chesse
Rice
Cabbage