In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
type(bicycles)

list

In [3]:
bicycles[0].title()

'Trek'

Negative indexing

In [4]:
bicycles[-1].title()

'Specialized'

In [5]:
bicycles[-2].title()

'Redline'

getting individual value from list

In [6]:
print(f"My First bicycle was a  {bicycles[0].title()}")

My First bicycle was a  Trek

In [7]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

Modify an existing element in list

In [8]:
motorcycles[0] = 'KariZma'
print(motorcycles)

['KariZma', 'yamaha', 'suzuki', 'ducati']

adding an element to list

In [9]:
motorcycles.append('Honda')
print(motorcycles)

['KariZma', 'yamaha', 'suzuki', 'ducati', 'Honda']

In [10]:
cars = []
cars.append('BMW')
cars.append('Ferrari')
cars.append('Royals Royce')
print(cars)

['BMW', 'Ferrari', 'Royals Royce']

Insert element into list

In [11]:
cars.insert(3,'AUDI')

In [12]:
cars

['BMW', 'Ferrari', 'Royals Royce', 'AUDI']

In [13]:
cars.insert(0,'BENZ')
print(cars)

['BENZ', 'BMW', 'Ferrari', 'Royals Royce', 'AUDI']

In [14]:
cars.insert(-1,'TATA')
print(cars)

['BENZ', 'BMW', 'Ferrari', 'Royals Royce', 'TATA', 'AUDI']

Delete element into list

In [15]:
cars = ['BMW', 'Ferrari', 'Royals Royce']
print(cars)
del cars[0]
print(cars)

['BMW', 'Ferrari', 'Royals Royce']
['Ferrari', 'Royals Royce']

In [16]:
cars[0]

'Ferrari'

Removing Item from any position in a list(popping by index position in a list)

In [17]:
motorcycles = ['Yamaha','Pulsar','Vespa']
print(motorcycles)
popped_motorcycles = motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)

['Yamaha', 'Pulsar', 'Vespa']
['Yamaha', 'Pulsar']
Vespa

In [18]:
motorcycles = ['Yamaha','Pulsar','Scooty']
first_owned = motorcycles.pop(0)
print(f"Last motorcycle i owned was: {first_owned.title()}")

Last motorcycle i owned was: Yamaha

Removing an  Item from a list by specific value

In [19]:
cars = ['BMW', 'Ferrari', 'Royals Royce']
print(cars)
removed_cars = cars.remove('Ferrari')
print(removed_cars)

['BMW', 'Ferrari', 'Royals Royce']
None

In [20]:
motorcycles = ['Yamaha','Pulsar','Scooty']
print(motorcycles)
too_expensive = 'Yamaha'
print(motorcycles)
motorcycles.remove(too_expensive)
print(motorcycles)

['Yamaha', 'Pulsar', 'Scooty']
['Yamaha', 'Pulsar', 'Scooty']
['Pulsar', 'Scooty']

Organizning a list

In [21]:
motorcycles = ['Yamaha','Pulsar','Scooty']
print(motorcycles)
sorted_motorcycles = motorcycles.sort()
print(motorcycles)

['Yamaha', 'Pulsar', 'Scooty']
['Pulsar', 'Scooty', 'Yamaha']

In [22]:
motorcycles

['Pulsar', 'Scooty', 'Yamaha']

In [23]:
motorcycles = ['Yamaha','Pulsar','Scooty']
print(motorcycles)
sorted_motorcycles = motorcycles.sort(reverse=True)
print(motorcycles)

['Yamaha', 'Pulsar', 'Scooty']
['Yamaha', 'Scooty', 'Pulsar']

sorting a list temproarily with sorted function

In [24]:
cars = ['TOYOTA','DODGE','FORD','NANO']
print("Here is the Original list:")
print(cars)
print("\nHere is the Sorted list:")
print(sorted(cars))
print("\nHere is the Original list:")
print(cars)

Here is the Original list:
['TOYOTA', 'DODGE', 'FORD', 'NANO']

Here is the Sorted list:
['DODGE', 'FORD', 'NANO', 'TOYOTA']

Here is the Original list:
['TOYOTA', 'DODGE', 'FORD', 'NANO']

Length function

In [25]:
len(cars)

4

In [26]:
cars = ['TOYOTA','DODGE','FORD','NANO']
print("Here is the Original list:")
print(cars)
print("\nHere is the reversed list:")
cars.reverse()
print(cars)

Here is the Original list:
['TOYOTA', 'DODGE', 'FORD', 'NANO']

Here is the reversed list:
['NANO', 'FORD', 'DODGE', 'TOYOTA']

3-1. Names: Store the names of a few of your friends in a list called names . Print 
each person’s name by accessing each element in the list, one at a time

In [27]:
names = ['Heera','Jayant','Sarath','Basha','Bharat']
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

Heera
Jayant
Sarath
Basha
Bharat

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just 
printing each person’s name, print a message to them . The text of each mes
sage should be the same, but each message should be personalized with the 
person’s name.

In [28]:
print(f"{names[0]}:You are my first friend")
print(f"{names[1]}:You are my second friend")
print(f"{names[2]}:You are my third friend")
print(f"{names[3]}:You are my fourth friend")
print(f"{names[4]}:You are my fifth friend")

Heera:You are my first friend
Jayant:You are my second friend
Sarath:You are my third friend
Basha:You are my fourth friend
Bharat:You are my fifth friend

3-3. Your Own List: Think of your favorite mode of transportation, such as a 
motorcycle or a car, and make a list that stores several examples . Use your list 
to print a series of statements about these items, such as “I would like to own a 
Honda motorcycle .”

In [29]:
cars = ['RoyalsRoyce','Bugati','Audi']
print(f"I would like to own a {cars[0]} car")
print(f"I would like to own a {cars[1]} car")
print(f"I would like to own a {cars[2]} car")

I would like to own a RoyalsRoyce car
I would like to own a Bugati car
I would like to own a Audi car

3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who 
would you invite? Make a list that includes at least three people you’d like to 
invite to dinner . Then use your list to print a message to each person, inviting 
them to dinner.

In [30]:
name = ['sachin','normanpeale','ogmandino']
print(f"{name[0].title()},I would like you to invite to dinner.")
print(f"{name[1].title()},I would like you to invite to dinner.")
print(f"{name[2].title()},I would like you to invite to dinner.")

Sachin,I would like you to invite to dinner.
Normanpeale,I would like you to invite to dinner.
Ogmandino,I would like you to invite to dinner.

 3-5. Changing Guest List: You just heard that one of your guests can’t make the 
dinner, so you need to send out a new set of invitations . You’ll have to think of 
someone else to invite .
 •Start with your program from Exercise 3-4 . Add a print statement at the 
end of your program stating the name of the guest who can’t make it .
 •Modify your list, replacing the name of the guest who can’t make it with 
the name of the new person you are inviting .
 •Print a second set of invitation messages, one for each person who is still 
in your list

In [31]:
name = ['sachin','normanpeale','ogmandino']
print(f"{name[0].title()},I would like you to invite to dinner.")
print(f"{name[1].title()},I would like you to invite to dinner.")
print(f"{name[2].title()},I would like you to invite to dinner.")
print(f"\n{name[2].title()},Won't be able to make it to dinner.")
name[2] = 'virat'
#print(name)
print(f"\n{name[0].title()},I would like you to invite to dinner.")
print(f"{name[1].title()},I would like you to invite to dinner.")
print(f"{name[2].title()},I would like you to invite to dinner.")

Sachin,I would like you to invite to dinner.
Normanpeale,I would like you to invite to dinner.
Ogmandino,I would like you to invite to dinner.

Ogmandino,Won't be able to make it to dinner.

Sachin,I would like you to invite to dinner.
Normanpeale,I would like you to invite to dinner.
Virat,I would like you to invite to dinner.

 3-6. More Guests: You just found a bigger dinner table, so now more space is 
available . Think of three more guests to invite to dinner .
 •Start with your program from Exercise 3-4 or Exercise 3-5 . Add a print 
statement to the end of your program informing people that you found a 
bigger dinner table .
 •Use insert() to add one new guest to the beginning of your list .
 •Use insert() to add one new guest to the middle of your list .
 •Use append() to add one new guest to the end of your list .
 •Print a new set of invitation messages, one for each person in your list

In [32]:
name = ['sachin','normanpeale','ogmandino']
print(f"{name[0].title()},I would like you to invite to dinner.")
print(f"{name[1].title()},I would like you to invite to dinner.")
print(f"{name[2].title()},I would like you to invite to dinner.")
print(f"\n{name[2].title()},Won't be able to make it to dinner.")
name[2] = 'virat'
#print(name)
print(f"\n{name[0].title()},I would like you to invite to dinner.")
print(f"{name[1].title()},I would like you to invite to dinner.")
print(f"\n{name[2].title()},I would like you to invite to dinner.")
print(f"{name[0].title()},I found a big dinner table.")
print(f"{name[1].title()},I found a big dinner table.")
print(f"{name[2].title()},I found a big dinner table.")
name.insert(0,'sanjay')
name.insert(2,'bill gates')
name.append('stevejobs')
print(name)

Sachin,I would like you to invite to dinner.
Normanpeale,I would like you to invite to dinner.
Ogmandino,I would like you to invite to dinner.

Ogmandino,Won't be able to make it to dinner.

Sachin,I would like you to invite to dinner.
Normanpeale,I would like you to invite to dinner.

Virat,I would like you to invite to dinner.
Sachin,I found a big dinner table.
Normanpeale,I found a big dinner table.
Virat,I found a big dinner table.
['sanjay', 'sachin', 'bill gates', 'normanpeale', 'virat', 'stevejobs']

3-7. Shrinking Guest List: You just found out that your new dinner table won’t 
arrive in time for the dinner, and you have space for only two guests .
 •Start with your program from Exercise 3-6 . Add a new line that prints a 
message saying that you can invite only two people for dinner .
 •Use pop() to remove guests from your list one at a time until only two 
names remain in your list . Each time you pop a name from your list, print 
a message to that person letting them know you’re sorry you can’t invite 
them to dinner .
 •Print a message to each of the two people still on your list, letting them 
know they’re still invited .
 •Use del to remove the last two names from your list, so you have an empty 
list . Print your list to make sure you actually have an empty list at the end 
of your program.

In [33]:
print(name)
print("I can only invite two people for dinner")
name.pop()
print(f"{name[4].title()} I can't invite you on dinner")

['sanjay', 'sachin', 'bill gates', 'normanpeale', 'virat', 'stevejobs']
I can only invite two people for dinner
Virat I can't invite you on dinner

 3-8. Seeing the World: Think of at least five places in the world you’d like to 
visit .
 •Store the locations in a list . Make sure the list is not in alphabetical order .
 •Print your list in its original order . Don’t worry about printing the list neatly, 
just print it as a raw Python list .
 •Use sorted() to print your list in alphabetical order without modifying the 
actual list .
 •Show that your list is still in its original order by printing it .
 •Use sorted() to print your list in reverse alphabetical order without chang
ing the order of the original list .
 •Show that your list is still in its original order by printing it again .
 •Use reverse() to change the order of your list . Print the list to show that its 
order has changed .
 •Use reverse() to change the order of your list again . Print the list to show 
it’s back to its original order .
 •Use sort() to change your list so it’s stored in alphabetical order . Print the 
list to show that its order has been changed .
 •Use sort() to change your list so it’s stored in reverse alphabetical order . 
Print the list to show that its order has changed.

In [34]:
dream_place = ['lasvegas','france','japan','switzerland','germany']
print("Here is the original order of list:")
print(dream_place)
print("\nPrinting list in alphabetical order using sorted function:")
print(sorted(dream_place))
print("\nMy list is still in the original order:")
print(dream_place)
print("\nPrinting list in reverse alphabetical order using sorted function:")
print(sorted(dream_place,reverse = True))
print("\nMy list is still in the original order:")
print(dream_place)
dream_place.reverse()
print("\nMy list is still in the reversed order:")
print(dream_place)
dream_place.reverse()
print("\nMy list is back in the original order:")
print(dream_place)
print("\nMy list is in the sorted order:")
dream_place.sort()
print(dream_place)
print("\nMy list is in the  reverse sorted order:")
dream_place.sort(reverse=True)
print(dream_place)

Here is the original order of list:
['lasvegas', 'france', 'japan', 'switzerland', 'germany']

Printing list in alphabetical order using sorted function:
['france', 'germany', 'japan', 'lasvegas', 'switzerland']

My list is still in the original order:
['lasvegas', 'france', 'japan', 'switzerland', 'germany']

Printing list in reverse alphabetical order using sorted function:
['switzerland', 'lasvegas', 'japan', 'germany', 'france']

My list is still in the original order:
['lasvegas', 'france', 'japan', 'switzerland', 'germany']

My list is still in the reversed order:
['germany', 'switzerland', 'japan', 'france', 'lasvegas']

My list is back in the original order:
['lasvegas', 'france', 'japan', 'switzerland', 'germany']

My list is in the sorted order:
['france', 'germany', 'japan', 'lasvegas', 'switzerland']

My list is in the  reverse sorted order:
['switzerland', 'lasvegas', 'japan', 'germany', 'france']

3-9.Dinner Guests: Working with one of the programs from Exercises 3-4 
through 3-7 (page 46), use len() to print a message indicating the number 
of people you are inviting to dinner.

In [35]:
print("The number of people we are inviting to dinner:",len(name))

The number of people we are inviting to dinner: 5

3-10.Every Function: Think of something you could store in a list . For example, 
you could make a list of mountains, rivers, countries, cities, languages, or any
thing else you’d like . Write a program that creates a list containing these items 
and then uses each function introduced in this chapter at least once.

In [36]:
cities = ['sitamarhi','aurai','runnisaidpur','patna','bokaro']
print("Here is the Original City list:")
print(cities)
print("\nCity list in the sorted order:")
sorted(cities)
print(sorted(cities))
print("\nHere is the Original City list:")
print(cities)
print("\nCity list in the reverse sorted order:")
print(sorted(cities,reverse=True))
print("\nHere is the Original City list again:")
print(cities)
cities.sort()
print("\nHere is the city list in the sorted order:")
print(cities)
print("\nHere is the Original City list again:")
print(cities)
cities.sort(reverse=True)
print("\nHere is the city list in the reverse sorted order:")
print(cities)
print("\nThe number of city in the city list is:",len(cities))
cities.insert(0,'chennai')
cities.append('pune')
print("\nHere is the city list after adding cities in list:")
print(cities)
popped_cities = cities.pop()
print("\nHere is the city list after popping cities in list:")
print(cities)
print("\nHere is the popped city list:",popped_cities)
print(cities)
del cities[0]
print("\nHere is the city list after deleting a city in list:")
print(cities)
print("\nHere is the city list in a reversed order:")
cities.reverse()
print(cities)
print("\nHere is the city list after removing a city in list:")
cities.remove('patna')
print(cities)
print("\nHere is the modified city list:")
cities[1] = 'Amelia'
print(cities)

Here is the Original City list:
['sitamarhi', 'aurai', 'runnisaidpur', 'patna', 'bokaro']

City list in the sorted order:
['aurai', 'bokaro', 'patna', 'runnisaidpur', 'sitamarhi']

Here is the Original City list:
['sitamarhi', 'aurai', 'runnisaidpur', 'patna', 'bokaro']

City list in the reverse sorted order:
['sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai']

Here is the Original City list again:
['sitamarhi', 'aurai', 'runnisaidpur', 'patna', 'bokaro']

Here is the city list in the sorted order:
['aurai', 'bokaro', 'patna', 'runnisaidpur', 'sitamarhi']

Here is the Original City list again:
['aurai', 'bokaro', 'patna', 'runnisaidpur', 'sitamarhi']

Here is the city list in the reverse sorted order:
['sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai']

The number of city in the city list is: 5

Here is the city list after adding cities in list:
['chennai', 'sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai', 'pune']

Here is the city list after popping cities in list:
['chennai', 'sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai']

Here is the popped city list: pune
['chennai', 'sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai']

Here is the city list after deleting a city in list:
['sitamarhi', 'runnisaidpur', 'patna', 'bokaro', 'aurai']

Here is the city list in a reversed order:
['aurai', 'bokaro', 'patna', 'runnisaidpur', 'sitamarhi']

Here is the city list after removing a city in list:
['aurai', 'bokaro', 'runnisaidpur', 'sitamarhi']

Here is the modified city list:
['aurai', 'Amelia', 'runnisaidpur', 'sitamarhi']

 3-11. Intentional Error: If you haven’t received an index error in one of your 
programs yet, try to make one happen . Change an index in one of your pro
grams to produce an index error . Make sure you correct the error before clos
ing the program.

In [37]:
print(cities[6])

IndexError: list index out of range